
:root {
  --bluecard: 28, 85, 242;
}

body {
  margin: auto;
  background-color: #87afcd;
}

.header {
  background-color: #000327; 
  display: flex;
  color: #fff;
}

h1 {
  flex-grow: 1;
  font-size: 200%;
  padding-left: 40px;
  padding-right: 20px;
}

h3 {
  font-size: 200%;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

nav ul li {
  color: #fff;
}

nav a {
  font-weight: bold;
  text-decoration: none;
}

.myself {
  text-align: center;
}

.menu ul {
  display: flex;
  margin: 0px;
}

.menu ul li a {
  height: 50px;
  line-height: 50px;
  margin: 0px;
  padding: 0px 40px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #525252ee;
  border-right: 2px solid rgb(0, 0, 0);
  color: #fff;
}

.firstli {
  border-left: 2px solid rgb(0, 0, 0);
}


.about-me {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline: auto;
  padding: 10px 0;
  text-align: center;
  border: #000000 solid;
  border-radius: 10px;
  width: 25%;
  align-items: center;
}


.myself img {
  max-width: 50%;
}

.flexbox-container {
  flex-grow: 1;
  margin: 0 20%;
  background-color: rgb(87, 87, 134);
  border-radius: 1rem;
  text-align: center;
  width: 60%;
  overflow: hidden;
}

.card {
  flex: 1;
  margin: auto;
  align-items: center; 
  min-height: 300px;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid rgba(var(--bluecard), .6);
  background-color: rgba(var(--bluecard), .9);
  border-radius: 1rem;
  min-height: 150px;
  overflow: hidden;
  max-height: 200px;
}

.card img {
  aspect-ratio: 1/1;
  max-width: 100%;
  object-fit: cover;
}

.card a img {
  width: 100%;
}


#contact-me {
  width: 50%;
  margin: 50px 25%;
  border: #000000 solid;
  background-color: #deeaf3;
  border-radius: 1rem;
  text-align: center;
}
  
  @media screen and (max-width: 900px) {
    .menu ul {
      flex-direction: column ;
    }
    .menu ul li a {
      border-right: none;
      
    }
    .li-border {
      border-top:  2px solid rgb(0, 0, 0);
    }
    .firstli {
      border-left: none;
    }
  @media screen and (max-width: 700px) {
    .flexbox-container  {
      margin: 0 5%; /* The width is 100%, when the viewport is 700px or smaller */
      width: 90%;   
    }
    header nav ul{
      flex-direction: column;
    }
    
    .menu ul li a{
      border: none;
    }
    .firstli{
      border: none;
    }
    #contact-me{
      width: 76%;
      margin: 10px 12%;
    }
    .about-me{
      width: 75%;
    }
  }
}
